@model IEnumerable<PauloOlivo_ExamenP1.Models.PO_Tablita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PO_Tabla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PO_Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Tabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PO_Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PO_TablitaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PO_TablitaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PO_TablitaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
